body {
    background-color: white;
}

h1 {
    color: #CC5500;
    text-align: center;
    font-family: 'Cooper Black';
    font-size: 72;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40;
}