body {
    background-color: white;
}

h1 {
    color: #CC5500;
    text-align: center;
    font-family: 'Cooper Black';
    font-size: 72;
}

p {
    color: #643420;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40;
}

div {
    background-color: #8D7D20;
    width: 50px;
    margin: auto;
}