body {
    background-color: white;
    
}

#paaotsikko {
    
    position:fixed;
    top: 20%;
    left: 5%;
    color: #CC5500;
    font-family: 'Cooper Black';
    font-size: 52px;
}

p {
    color: #643420;
    position:fixed;
    top: 35%;
    left: 40%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.nav-grid {
    display: flex;
    gap: 80px;
    padding: 60px;
    justify-content: center;

}

.nav-grid a {
    border-radius: 10px;
    color: black;
    background-color:#8D7D20;
    font-size: 20px;
    padding: 8px 20px;
    border:7px double black;
    display: grid;   
    min-height: 100px;
}

nav a:hover {
    color:#000000;
    background-color:#D1BA90;

}

#valittu {
    background-color:#643420;
    color: rgb(255, 255, 255);
    
}
