body {
    background-color: #D1BA90;
}

#paaotsikko {
    text-align: center;
    color: #CC5500;
    font-family: 'Cooper Black';
    font-size: 52px;
}

p {
    color: #643420;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.viiva {
    border: 3px #643420;
    border-radius: 1px;
    border-style: solid;
}

.etusivunkuva {
    width: 600px;
    border: 2px #643420;
    border-radius: 1px;
    border-style: solid;
}

.nav-grid {
    display: flex;
    gap: 80px;
    padding: 60px;
    justify-content: center;

}

.nav-grid a {
    border-radius: 10px;
    color: black;
    background-color:#8D7D20;
    font-size: 30px;
    padding: 8px 20px;
    border:7px double black;
    display: grid;   
    width: 180px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav a:hover {
    color:#000000;
    background-color:beige;

}

#valittu {
    background-color:#643420;
    color: rgb(255, 255, 255);
    

}
.menu {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.menu-kohde {
    margin-bottom: 30px;
    padding: 15px;
}


.menu-kohde {
    border-bottom: 2px dashed #8D7D20;
}

.menu-kohde h2 {
    font-size: 26px;
    color: #CC5500;
    margin-bottom: 10px;
}

.menu-kohde p {
    font-size: 18px;
    color: #643420;
    margin: 5px 0;
}

.hinta {
    font-size: 20px;
    color: #8D7D20;
    font-weight: bold;
}
.hinta-lista {
    margin: 10px 0 0 20px;
    color: #643420;
    font-size: 18px;
}
