body {
    background-color: #D1BA90;
}

#paaotsikko {
    text-align: center;
    color: #CC5500;
    font-family: 'Cooper Black';
    font-size: 52px;
}

p {
    color: #643420;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

h2 {
    color: #CC5500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
}

h3 {
    color: #643420;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    text-align: center;
}

.viiva {
    border: 3px #643420;
    border-radius: 1px;
    border-style: solid;
}

#etusivunkuva {
    width: 800px;
    border-color: #643420;
    border-width: 5px;
    border-radius: 1px;
    border-style: solid;
}

.etusivulaatikko1 {
    display: flex;
    justify-content: center;
}

.etusivulaatikko2 {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
}

.etusivugrid {
    background-color: #8d7d2083;
    border: 10px solid #8d7d2000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 830px;
    margin: auto;
    align-content: center;
    padding-top: 16px;
}

.etusivugridlaatikko {
    max-width: 500px;
    padding: 5px;
}

#etusivuhamppari {
    width: 284px;
    border: 5px solid #643420;
}

#kehote {
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: #643420;
    display: flex;
    justify-content: center;
    border: 10px solid #643420;
    width: 275px;
    margin: auto;
}

footer{
    background-color:#643420;
    border-top: 50px solid #D1BA90;
}

.footer{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ikonit a{
    background-color:#D1BA90;
    margin: 10px;
}

.ikonit a i{
    color:#643420;
}

#footerteksti{
    color:#D1BA90;
    text-align: center;
}

#sahkoposti{
    color: #D1BA90;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.nav-grid {
    display: flex;
    gap: 80px;
    padding: 60px;
    justify-content: center;

}

.nav-grid a {
    border-radius: 10px;
    color: black;
    background-color:#8D7D20;
    font-size: 30px;
    padding: 8px 20px;
    border:7px double black;
    display: grid;   
    width: 180px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav a:hover {
    color:#000000;
    background-color:beige;

}

#valittu {
    background-color:#643420;
    color: rgb(255, 255, 255);
    

}
.menu {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.menu-kohde {
    margin-bottom: 30px;
    padding: 15px;
}


.menu-kohde {
    border-bottom: 2px dashed #8D7D20;
}

.menu-kohde h2 {
    font-size: 26px;
    color: #CC5500;
    margin-bottom: 10px;
}

.menu-kohde p {
    font-size: 18px;
    color: #643420;
    margin: 5px 0;
}

.hinta {
    font-size: 20px;
    color: #8D7D20;
    font-weight: bold;
}
.hinta-lista {
    margin: 10px 0 0 20px;
    color: #643420;
    font-size: 18px;
}
